/* Header.css */

.header {
  background-color: #007bff;
  color: white;
  padding: 1rem 2rem;
  text-align: left;
  margin-bottom: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding-bottom: 20px;
}

.header h1 {
  font-size: 20px;
}

.top-section h1 {
  margin: 0; /* Remove default margin for <h1> */
  flex-grow: 1;
  text-align: left;
}

.icon-container {
  display: flex;
  gap: 20px; /* Add some spacing between the icons */
  width: 200px;
  align-items: center;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.icon-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.bottom-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.bottom-section p {
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

/* Header.css */

.download-button {
  background-color: #007bff; /* Background color */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding for the button */
  border: none; /* Remove border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 20px; /* Font size */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.download-button:hover {
  background-color: #0056b3; /* Change background color on hover */
}

